{
  "openapi": "3.0.1",
  "info": {
    "title": "Rock Rest API v1",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rock.ev.church/"
    }
  ],
  "paths": {
    "/api/Attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_Attributes",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Attribute"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Posts the specified value.",
        "operationId": "POSTapi_Attributes",
        "requestBody": {
          "description": "The value.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Attribute"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/Attributes/{id}": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_Attributes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.Attribute"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Attributes"
        ],
        "summary": "Puts the specified identifier.",
        "operationId": "PUTapi_Attributes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The value.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Attribute"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "Deletes the specified identifier.",
        "operationId": "DELETEapi_Attributes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Attributes"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_Attributes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/Attributes/AttributeValue/{id}": {
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_Attributes_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_Attributes_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Attributes/DataView/{id}": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_Attributes_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Attribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/attributes/flush": {
      "put": {
        "tags": [
          "Attributes"
        ],
        "summary": "Flushes all global attributes from cache. Usually no need to do this since global attribute cache is managed automatically.",
        "operationId": "PUTapi_attributes_flush",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/api/attributes/flush/{id}": {
      "put": {
        "tags": [
          "Attributes"
        ],
        "summary": "Flushes an attributes from cache. Usually no need to do this since attribute cache is managed automatically.",
        "operationId": "PUTapi_attributes_flush_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/api/Attributes/FollowedItems": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GETapi_Attributes_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Attribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Attributes/GetByAttributeValue": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GETapi_Attributes_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Attribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Attributes/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_Attributes_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/Attributes/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_Attributes_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/Attributes/SetContext/{id}": {
      "put": {
        "tags": [
          "Attributes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_Attributes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Attributes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_Attributes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_Campuses",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Campus"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campuses"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_Campuses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Campus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/Campuses/{id}": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_Campuses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.Campus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campuses"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_Campuses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Campus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "Campuses"
        ],
        "summary": "DELETE endpoint. To delete the record",
        "operationId": "DELETEapi_Campuses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Campuses"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_Campuses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/Campuses/AttributeValue/{id}": {
      "post": {
        "tags": [
          "Campuses"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_Campuses_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Campuses"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_Campuses_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses/DataView/{id}": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_Campuses_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Campus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses/FollowedItems": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "operationId": "GETapi_Campuses_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Campus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses/GetByAttributeValue": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "operationId": "GETapi_Campuses_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Campus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "Campuses"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_Campuses_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/Campuses/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "Campuses"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_Campuses_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/Campuses/SetContext/{id}": {
      "put": {
        "tags": [
          "Campuses"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_Campuses_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Campuses"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_Campuses_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_DefinedTypes",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedType"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_DefinedTypes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.DefinedType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/DefinedTypes/{id}": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_DefinedTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.DefinedType"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_DefinedTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.DefinedType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "DELETE endpoint. To delete the record",
        "operationId": "DELETEapi_DefinedTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_DefinedTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/DefinedTypes/AttributeValue/{id}": {
      "post": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_DefinedTypes_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_DefinedTypes_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes/DataView/{id}": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_DefinedTypes_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes/FollowedItems": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "operationId": "GETapi_DefinedTypes_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes/GetByAttributeValue": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "operationId": "GETapi_DefinedTypes_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_DefinedTypes_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedTypes/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_DefinedTypes_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/DefinedTypes/SetContext/{id}": {
      "put": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_DefinedTypes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "DefinedTypes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_DefinedTypes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_DefinedValues",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedValue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_DefinedValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.DefinedValue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/DefinedValues/{id}": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_DefinedValues_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.DefinedValue"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_DefinedValues_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.DefinedValue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "DELETE endpoint. To delete the record",
        "operationId": "DELETEapi_DefinedValues_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_DefinedValues_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/DefinedValues/AttributeValue/{id}": {
      "post": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_DefinedValues_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_DefinedValues_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues/DataView/{id}": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_DefinedValues_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedValue"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues/FollowedItems": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "operationId": "GETapi_DefinedValues_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedValue"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues/GetByAttributeValue": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "operationId": "GETapi_DefinedValues_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.DefinedValue"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_DefinedValues_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/DefinedValues/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_DefinedValues_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/DefinedValues/SetContext/{id}": {
      "put": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_DefinedValues_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "DefinedValues"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_DefinedValues_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_Groups",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_Groups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/Groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_Groups_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
